<form method="post" action="{{ path('app_system_information_delete', {'id': system_information.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ system_information.id) }}">
    <button class="btn">Delete</button>
</form>
